{% load static %}
<section id="banner1" class="banner banner-1 video fancybox-layout2 p-0 bg-theme">
    <div class="container-fluid col-padding-0">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 equal-height">
                <div class="inner-padding">
                    <div class="heading heading-2 mb-50">
                        <h2 class="heading__title color-white">Logistic & Transport Solutions Saves Your Time!</h2>
                        <p class="heading__desc color-white">Logisti Group is a representative logistics operator
                            providing full
                            range of service in the sphere of customs clearance and transportation worldwide for any
                            type of
                            cargo. </p>
                    </div><!-- /.heading -->
                    <div class="row">
                        <!-- fancybox item #1 -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="fancybox-item">
                                <div class="fancybox__icon">
                                    <i class="icon-credit-cards"></i>
                                </div><!-- /.fancybox-icon -->
                                <div class="fancybox__content">
                                    <h4 class="fancybox__title">Transparent Pricing</h4>
                                    <p class="fancybox__desc">The world of international supply chains involves a myriad
                                        of unknown
                                        risks
                                        and challenging regulations.</p>
                                </div><!-- /.fancybox-content -->
                            </div><!-- /.fancybox-item -->
                        </div><!-- /.col-lg-3 -->
                        <!-- fancybox item #2 -->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="fancybox-item">
                                <div class="fancybox__icon">
                                    <i class="icon-search-worldwide"></i>
                                </div><!-- /.fancybox-icon -->
                                <div class="fancybox__content">
                                    <h4 class="fancybox__title">Real-Time Tracking</h4>
                                    <p class="fancybox__desc">We ensure our customers’ supply chains are fully compliant
                                        by our
                                        comprehensive practices and programs. </p>
                                </div><!-- /.fancybox-content -->
                            </div><!-- /.fancybox-item -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                    <a href="request-quote.html" class="btn  btn__white btn__hover2 btn__lg">Schedule An Appointment</a>
                </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="bg-overlay">
                    <div class="bg-img"><img src="assets/images/video/2.jpg" alt="background"></div>
                    <div class="video__btn video__btn-white align-v-h equal-height">
                        <a class="popup-video" href="https://www.youtube.com/watch?4=&v=TKnufs85hXk">
                            <span class="video__player-animation"></span>
                            <div class="video__player">
                                <i class="fa fa-play"></i>
                            </div>
                        </a>
                    </div>
                </div><!-- /.video -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.banner 1 -->