{% load static %}
<!-- =====================
         Clients 1
      ======================== -->
<section id="clients" class="clients clients-1 border-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="carousel owl-carousel" data-slide="6" data-slide-md="4" data-slide-sm="2"
                    data-autoplay="true" data-nav="false" data-dots="false" data-space="20" data-loop="true"
                    data-speed="700">
                    <div class="client">
                        <a href="#"><img src="{% static 'images/clients/9.png' %}" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img src="{% static 'images/clients/10.png' %}" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img src="{% static 'images/clients/11.png' %}" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img src="{% static 'images/clients/12.png' %}" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img src="{% static 'images/clients/13.png' %}" alt="client"></a>
                    </div><!-- /.client -->
                    <div class="client">
                        <a href="#"><img src="{% static 'images/clients/11.png' %}" alt="client"></a>
                    </div><!-- /.client -->
                </div><!-- /.carousel -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.clients 1 -->