{% extends 'core/layout.html' %}
{% load static %}

{% block content %}
<!-- ========================
       page title 
    =========================== -->
    <section id="page-title" class="page-title bg-overlay bg-parallax">
        <div class="bg-img"><img src="{% static 'images/page-titles/14.jpg' %}" alt="background"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                    <h1 class="pagetitle__heading">About Us</h1>
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.page-title -->
    
    <!-- ========================
            About 2
          =========================== -->
    <section id="about2" class="about about-2 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-5">
                    <div class="about__img mb-60">
                        <img src="{% static 'images/about/2.jpg' %}" alt="about img" class="img-fluid">
                    </div><!-- /.about-img -->
                </div><!-- /.col-lg-5 -->
                <div class="col-sm-12 col-md-12 col-lg-7">
                    <div class="row heading heading-2">
                        <div class="col-sm-12 col-md-12 col-sm-12">
                            <h2 class="heading__title">Safe, Reliable And Express Eudiplomaticservicec & Transport Solutions
                                That Saves Your
                                Time!</h2>
                        </div><!-- /.col-lg-12 -->
                        <div class="col-sm-12 col-md-7 col-lg-7">
                        <p class="heading__desc mb-30">Eudiplomaticservice Group is a representative Eudiplomaticservicecs operator providing
                                full range
                                of service in the sphere
                                of customs clearance and transport worldwide for any type of cargo.</p>
                            <p>We pride ourselves on providing the best transport and shipping services available allover
                                the
                                world. Our skilled personnel, utilising the latest communications, tracking and processing
                                software,
                                combined with decades of experience! Through integrated supply chain solutions, Eudiplomaticservice
                                drives
                                sustainable competitive advantages to some of Australia's largest companies.</p>
                            <img src="{% static 'images/about/singnture.png' %}" alt="singnture" class="signature mb-30">
                        </div><!-- /.col-lg-7 -->
                        <div class="col-sm-12 col-md-5 col-lg-5">
                            <div class="carousel owl-carousel carousel-dots" data-slide="1" data-slide-md="1"
                                data-slide-sm="1" data-autoplay="true" data-nav="false" data-dots="true" data-space="0"
                                data-loop="true" data-speed="700">
                                <div class="fancybox-item">
                                    <div class="fancybox__icon">
                                        <i class="icon-worldwide"></i>
                                    </div><!-- /.fancybox-icon -->
                                    <div class="fancybox__content">
                                        <h4 class="fancybox__title">Our Mission</h4>
                                        <p class="fancybox__desc">Utilising latest communications, tracking processing
                                            software, and
                                            decades of experience.</p>
                                    </div><!-- /.fancybox-content -->
                                </div><!-- /.fancybox-item -->
                                <div class="fancybox-item">
                                    <div class="fancybox__icon">
                                        <i class="icon-transfer"></i>
                                    </div><!-- /.fancybox-icon -->
                                    <div class="fancybox__content">
                                        <h4 class="fancybox__title">Our Vision</h4>
                                        <p class="fancybox__desc">The best possible service in the sphere of optimized route
                                            of cargo &
                                            transportation worldwide.</p>
                                    </div><!-- /.fancybox-content -->
                                </div><!-- /.fancybox-item -->
                            </div><!-- /.carousel -->
                        </div><!-- /.col-lg-5 -->
                    </div><!-- /.row -->
                </div><!-- /.col-lg-7 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.About 2 -->
    
    {% include 'core/inc/clients.html' %}
    
    {% include 'core/inc/banner.html' %}
    
    <!-- ========================= 
                  Testimonial #2
          =========================  -->
    <section id="testimonial2" class="testimonial testimonial-2 text-center pb-170">
        <div class="bg-img"><img src="{% static 'images/backgrounds/2.jpg' %}" alt="background"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                    <div class="heading text-center">
                        <span class="heading__subtitle mb-0">Client’s Testimonials</span>
                    </div><!-- /.heading -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                    <div class=" owl-carousel thumbs-carousel" data-slider-id="1" data-nav="false" data-dots="false">
    
                        <!-- Testimonial #1 -->
                        <div class=" testimonial-item">
                            <div class="testimonial__content">
                                <p class="testimonial__desc">Eudiplomaticservice team is the best of the best, and expertly trained team
                                    members
                                    who take the extra step and go the extra mile, all to fulfill our dedicated promise to
                                    deliver
                                    innovative and dynamic solutions to our customers to fit the needs of a rapidly changing
                                    global
                                    environment.</p>
                            </div><!-- /.testimonial-content -->
                        </div><!-- /. testimonial-item -->
                        <!-- Testimonial #2 -->
                        <div class=" testimonial-item">
                            <div class="testimonial__content">
                                <p class="testimonial__desc">Eudiplomaticservice team is the best of the best, and expertly trained team
                                    members
                                    who take the extra step and go the extra mile, all to fulfill our dedicated promise to
                                    deliver
                                    innovative and dynamic solutions to our customers to fit the needs of a rapidly changing
                                    global
                                    environment.</p>
                            </div><!-- /.testimonial-content -->
                        </div><!-- /. testimonial-item -->
                        <!-- Testimonial #3 -->
                        <div class=" testimonial-item">
                            <div class="testimonial__content">
                                <p class="testimonial__desc">Eudiplomaticservice team is the best of the best, and expertly trained team
                                    members
                                    who take the extra step and go the extra mile, all to fulfill our dedicated promise to
                                    deliver
                                    innovative and dynamic solutions to our customers to fit the needs of a rapidly changing
                                    global
                                    environment.</p>
                            </div><!-- /.testimonial-content -->
                        </div><!-- /. testimonial-item -->
                    </div>
                    <div class="owl-thumbs" data-slider-id="1">
                        <button class="owl-thumb-item">
                            <span class="testimonial__meta">
                                <span class="testimonial__thumb">
                                    <img src="{% static 'images/testimonials/thumbs/1.jpg' %}" alt="author thumb">
                                </span><!-- /.testimonial-thumb -->
                                <span class="testimonial__meta-title">Sami Wade</span>
                                <span class="testimonial__meta-desc">WhiteMov</span>
                            </span><!-- /.testimonial-meta -->
                        </button>
                        <button class="owl-thumb-item">
                            <span class="testimonial__meta">
                                <span class="testimonial__thumb">
                                    <img src="{% static 'images/testimonials/thumbs/2.jpg' %}" alt="author thumb">
                                </span><!-- /.testimonial-thumb -->
                                <span class="testimonial__meta-title">John Peter</span>
                                <span class="testimonial__meta-desc">Mov Inc</span>
                            </span><!-- /.testimonial-meta -->
                        </button>
                        <button class="owl-thumb-item">
                            <span class="testimonial__meta">
                                <span class="testimonial__thumb">
                                    <img src="{% static 'images/testimonials/thumbs/1.jpg' %}" alt="author thumb">
                                </span><!-- /.testimonial-thumb -->
                                <span class="testimonial__meta-title">Martin Hope</span>
                                <span class="testimonial__meta-desc">ProMov</span>
                            </span><!-- /.testimonial-meta -->
                        </button>
                    </div><!-- /.owl-thumbs -->
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.testimonial2 -->
{% endblock content %}