{% extends 'custom_admin/base_layout.html' %}

{% block content %}

<body>
    <div class="app">
        <div class="layout">
            <div class="container">
                <div class="row full-height align-items-center">
                    <div class="col-12">
                        <div class="text-center p-t-50">
                            <h1 class="font-size-170 text-secondary font-weight-light text-opacity ls-2">404</h1>
                            <h2 class="font-weight-light font-size-30">Whoops! Looks like you got lost</h2>
                            <p class="lead">We couldnt find what you were looking for.</p>
                            <a href="{% %}" class="btn btn-orange btn-lg m-t-30">Take Me Home</a>
                        </div>
                    </div>
                    <div class="col-12 align-self-end ">
                        <div class="text-center p-b-20 font-size-13">
                            <span>Copyright © <script>document.write(new Date().getFullYear() )</script> <b class="text-dark">Eudiplomaticservice</b>. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}