{% extends 'custom_admin/layout.html' %}


{% block content %}
<div class="page-header d-flex justify-content-between">
    <h2 class="header-title">Packages</h2>
    <a href="{% url 'custom_admin:package_list' %}">View All</a>
</div>

<div class="table-overflow">
    <table class="table table-xl border">
        <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Tracking ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Medium</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th class="text-center" scope="col">Pickup</th>
            </tr>
        </thead>
        <tbody>
            {% for object in packages %}
            <tr>
                <td>
                    <div class="list-media">
                        {{ object.name }}
                    </div>
                </td>
                <td>{{ object.tracking_id }}</td>
                <td>{{ object.freight_cost }}</td>
                <td>{{ object.shipment_medium }}</td>
                <td>{{ object.origin }}</td>
                <td>{{ object.destination }}</td>
                <td>{{ object.pickup_date }} {{ object.pickup_time }}</td>
                <td>
                    <a href="{% url 'custom_admin:package_detail' object.pk %}">
                        <button class="btn btn-primary">View</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'custom_admin:history_list' object.pk %}">
                        <button class="btn btn-warning">Track</button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <p class="text-muted">Nothing to see here</p>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}